@import '../../app/Constants';

.association-list {

  .page__background {
    background-color: $light-grey;
  }

  ons-list-header {
    padding: 0;

    p {
      margin: 0;
    }

    ons-input {
      display: block;
    }

    .text-input__label, input {
      $padding: 1em;
      font-size: 1.5em;
      padding: $padding $padding;
      height: auto;
    }
  }

  ons-list {
    ons-list-item {
      $shadow-size: 0.4rem;
      box-shadow: 0 $shadow-size/2 $shadow-size transparentize(black, 0.7);
      margin-bottom: 1px;

      &:last-child {
        margin-bottom: $shadow-size*2;
      }

      &.list__item--selected {
        padding-left: 0;

        .left {
          min-width: 4rem;
          justify-content: center;
        }

        .center {
          $padding: 0.6rem;

          flex-direction: column;
          align-items: flex-start;
          padding-top: $padding;
          padding-bottom: $padding;
        }

        .name {
          margin: 0.5rem 0;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
}
