// Remember to use rems and ems. http://css-tricks.com/rems-ems.
@import './Constants';

@import '~normalize.css/normalize.css';
@import '~onsenui/css/onsenui.css';
@import '~onsenui/css/onsen-css-components.css';

// http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Goodness.
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', 'Lucida Grande', 'Ubuntu', 'sans-serif';
  font-size: 16px;
  line-height: 1.5;
}

#app {
  background-color: red;

  ons-speed-dial ons-icon {
    vertical-align: middle;
  }

  textarea {
    display: block;
    width: 100%;
    border: 1px solid $light-grey;
    min-height: 20rem;
  }

  ons-toolbar-button {
    background: none;
    padding: 0;

    ons-icon {
      background-color: transparentize(white, 1);
      border-radius: 50%;
      padding: 0.75rem 0.9rem;
      transition: background-color 0.1s ease-in-out;
    }

    &:active ons-icon{
      background-color: transparentize(white, 0.8);
    }
  }
}
