@import './Constants';

$header-height: 56px;

.header {
  background-color: $secondary;
  display: block;

  &.primary {
    background-color: $primary;
  }

  &.secondary {
    background-color: $secondary;
  }

  &.tertiary {
    background-color: $tertiary;
  }

  &.has-subheader {
    height: $header-height * 2;
  }

  ons-toolbar {
    background: transparent;
    box-shadow: none;
  }

}

.navigation-bar--material.has-subheader +
.page__background +
.page__content {
  top: $header-height * 2;
}
