@import './Constants';

.header {
  background-color: $secondary;
  display: block;

  &.primary {
    background-color: $primary;
  }

  &.secondary {
    background-color: $secondary;
  }

  &.tertiary {
    background-color: $tertiary;
  }

  &.has-subheader {
    height: 112px;
  }

  ons-toolbar {
    background: transparent;
    box-shadow: none;
  }

}
